.body{
  width: 80%;
  margin: 10% auto;
  text-align: center;
}

h1{
  font-size: 4rem;
  text-decoration: underline;
  margin: 5%;
}
.userCards{
  border: 5px double black;
  margin: 3%;
}

img{
  height: 40vh;
  width: 30vw;
  margin: 3% auto;
}

p{
  width:50%;
  text-align: center;
  margin: 2% auto;
}
